*{
  margin: 0;
  padding: 0;
}
html, body{
  height: 100%;
}

.container {
  margin: auto;
  background-image:url("https://cdn.hipwallpaper.com/m/97/65/9A5vMm.jpg")  ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  min-height: 100vh;
}

.header{
  height: 200px;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.description{
  margin: auto;
}

h1{
  font-family: "Blessed Day";
  font-size: 65px;
  color: grey;
  margin: 0;
  text-shadow: 0px 1px 0px #e1e2ed;
}

#addInput{
  padding:10px;
  width: 810px;
  border-color: transparent;
}

form {
  display:flex;
  flex-direction:row;
  border:1px solid grey;
  padding:2px;
}

.fa{ font-size: 20px;}

#addItemForm {border:none;}

input:focus {outline: none;}

button {
  border:2px solid #2196F3;
  color:black;
  padding:0 70px;
  background: #2196F3;
}

.body{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 990px; 
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
}

.list{
  display:flex;
  justify-content: center;
  margin: 20px;
  background-color: transparent;
  width:433px;
  flex-basis: 200px;
}

.today-details{
  border: 1px solid #eee;
  box-shadow: 2px 2px 3px black;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 10px;
  opacity: 0.7;
}

.moti{
  margin: 0 20px;
  display: flex;
  flex-basis: 790px;
  flex-direction: column;
  flex-wrap: wrap;
}

.search-details-today{
  margin:20px 20px 0;
  text-align: center;
}

.search-details{
  margin: 20px 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.details{
  background: lavender;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  opacity: 0.7;
  color: black;
  width: 100px;
}
.icons{
  width: 50px;
  height: 50px;
  margin: auto;
}
.largeIcon{
  width: 75px;
  height: 75px;
  margin: auto;
}
.title{margin: auto;}

.details-text-min{
  color: deepskyblue;
  margin: auto;
}
.details-humidity{
  color: darkgray; 
  margin:auto
}

.details-text-max{
  color: red;
 margin: auto;
}

.list-city{
  background-color: lavender;
  opacity: 0.8;
  width: 250px;
  height: 400px;
  /* display: inline; */
}
.city-button{
  width: 200px;
  padding: 6px 5px ;
  color:#f5f5f5;
  text-align:center;
  text-decoration:none;
  background: #555777;
  box-shadow: 0 0 3px gray;
  border: 2px solid #f5f5f5;
  font-weight:bold;
  margin-bottom: 5px;
}

.remove {
  display:inline;
  padding: 4px 5px 5px;
  line-height:5px;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  color:#f5f5f5;
  text-align:center;
  text-decoration:none;
  background: red;
  box-shadow: 0 0 3px gray;
  font-weight:bold;
  margin: 5px;
}

.listOfCities{
  margin:10px;
  text-align: center;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: grey;
  text-shadow: 0px 1px 0px #e1e2ed;
}
li{
  margin-left: 15px;
  list-style-type:none;
}

p{
  font-size: 15px;
  margin: 0;
}

.loading,
.loading:before,
.loading:after {
  border-radius: 50%;
}
.loading {
  color: #521751;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loading:before,
.loading:after {
  position: absolute;
  content: '';
}
.loading:before {
  width: 5.2em;
  height: 10.2em;
  background: #fff;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loading:after {
  width: 5.2em;
  height: 10.2em;
  background: #fff;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}